body
{
background-image: url(img/botellas.png);
font-family: 'Roboto', sans-serif;
}
.container-table
{
	width: 90%;
	background: #1b05e0;
	margin: 50px auto;

	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-rows:20px ;
	border-radius: 5px;
}
.container-table2
{
	width: 90%;
	background: #f1f500;
	margin: 50px auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows:20px ;
	border-radius: 5px;	
	
}
.container-table3
{
	width: 90%;
	background: #cac724;
	margin: 50px auto;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows:20px ;
	border-radius: 5px;
}

.table_title{
	grid-column-start: 1;
	grid-column-end: 8;

	background: #B1BCBC;
	color: rgb(121, 12, 12);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 2px;
	font-size: 20px;
	position: relative;



}
.table_header{

	background:#b19000 ;
	color: rgb(233, 227, 227);
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	
	font-size: 15px;

}

.t{

	background:#dda509 ;
	color: rgb(233, 227, 227);
	
}

.ta{

	background:#e089b5 ;
	
}
.title_edit:hover 
{
  text-decoration: underline; 
}
.container-table-edit{
	
	grid-template-columns: repeat(5, 1fr);
	width: 99%;
	min-width: 200px;
	grid-auto-rows: 30px;
}
.table_title_edit
{
	grid-column-start: 1;
	grid-column-end: 6;
}

.title_edit{
position: absolute;
right: 7%;

text-decoration: none;	
}
.table_header_edit{

	background:#787D7D ;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	
	font-size: 15px;



}

.button{
  background-color: #800064;
}
.table_ _input{
	display: block;
	padding-left:10 ;
}
.container_submit-edit{
background: #832837;
padding: 0;
margin: 0;
font-size:.9em ;
width: 100%;

}
input[type="text"]{
  outline: none;
  padding: 15px;
  display: block;
  width: 99px;
  border-radius: 4px;
  border: 1px solid #515151;
  margin: 20px auto;
  background-color:#3124a5 ;
  font-size: 15px;
  color:#c26565 ;

}
/* Header */
header {

  padding: 15px 0;
  width: 100%;
  text-align: center;
background-color: #4e1796;
font-size: 40px;
}
header a {
  text-decoration: none;
  color: #2d1095;
}
 a {
  text-decoration: none;
  color: #951047;
  font-size: 18px;
}
input[type="submit"] {
  color: #681010;
  background: #6952ea;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
margin: 0;
font-size:.9em ;
width: 100%;
bottom: -20px;
position: relative;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #27252e;
    background-size: cover;
	color: aliceblue;
}

